<html xmlns:th="https://www.thymeleaf.org"></html>
<body>

	<div th:if="${messagem}">
		<h2 th:text="${messagem}"/>
	</div>

	<div>
		<form method="POST" enctype="multipart/form-data" action="/arquivos">
			<table>
				<tr><td>Arquivo para transferir:</td><td><input type="file" name="arquivos" /></td></tr>
				<tr><td></td><td><input type="submit" value="Upload" /></td></tr>
			</table>
		</form>
	</div>

	<div>
		<ul>
			<li th:each="file : ${arquivos}">
				<a th:href="${file}" th:text="${file}" />
			</li>
		</ul>
	</div>

</body>
</html>